body {
    margin: 0; 
    background-color: rgb(67, 153, 124);
    font: Arial;
}

header {
    background-color: rgb(61, 58, 168);
    padding: 11px;
    text-align: center;
    font-size: 20px;
}

nav {
    float: left;
    padding-left: 4%;
    padding-bottom: 12%;
    font-size: 25px;
    background-color: rgb(78, 170, 177);
    width: 25%;
    margin-bottom: 0;
}

p {
    font-size: 35px;
    margin-top: 50%;
}

main {
    float: right;
    padding-right: 15%; 
}

img {
    height: 650px;
    margin-top: 30px;
}

footer {
    position: absolute;
    height: 5em;
    bottom: 0;
    width: 100%;
    text-align: right;
    background-color: rgb(61, 58, 168);
}

h2 {
    margin-right: 4%;
}
